

:root{
  --primary-color: #7E6C6C;
  --secondary-color: #F87575;
  --accent1-color: #FFA9A3;
  --accent2-color: white;
  --accent3-color: #B9E6FF;

}



body {
  background-color: var(--primary-color);
}
p {
  margin-top: 0px;
  padding: 5px 15px;
  font-family: "Helvetica", sans-serif;
  line-height: 1.3em;
  /* background-color: bisque; */
}
h2 {
  margin: 0px;
  padding: 5px 10px;
  display: block;
  color: var(--secondary-color);
  background-color: var(--accent3-color);

}

footer {
  display: block;
}
.navbar a {
  /* display: grid; */
  
  font-size: 20px;  
  text-decoration: none;
  color: var(--secondary-color);
  padding: 10px;
  
}
.menuItem{
  position: relative;
  top: 20px;
}
.menuItem:hover {

  color: var(--accent3-color);

  background-color: var(--secondary-color);
  opacity: 60%;
  /* padding: 10px; */
}
.monospace{
  font-family: monospace;
}
.navbar{
  height: 64px;
  background-color: var(--accent3-color); 
  /* padding: 10px */

}
#content {
  background-color: var(--accent2-color);
  max-width: 900px;
  margin: 0 auto;
}
/*#bannerImage {
  center this so it displays cleanly 
} */
#logo{
  height: 64px;
  float: left;
  
}




.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex-item{
  width :50%;
  min-width: 350px;
  height: auto;
  flex-shrink: 1;
  
}

.social {
  
  display: inline;
  float: right;
}
.social img {
  max-height: 40px;
}

@media screen and (max-width: 700px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    
  }
  .flex-item{
    
    width :100%;
    min-width: 350px;
    height: auto;
    flex-shrink: 1;
  } 
  #smallScreen{
    flex-direction: column-reverse;
  }

}